.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fcfdfd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.App-link {
  color: #61dafb;
}

input{
  display: block;
}

button {
  font-size: medium;
  border: none;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

button:active {
  background-color: rgb(197, 196, 196);
}

img{
  height: 100%;
  object-fit: contain;
}

.btn-avatar{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #61dafb;
  overflow: hidden;
}